body{
    
    background-image: url("../images/lab3BackGround.png");
    margin-top:0;
}
#heading{
    display: flex;
    justify-content: space-between  ;
    width: 100%;
    background-color: white;
    opacity: 0.8;
}
.span-1{
    align-self: center;
}
.center{
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
    font-size: 30px;
}
.right{
    padding-right: 5px;
}

#logo{
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 20%
}
.Btn{
    padding-top: 4px;
    padding-right: 5px;
    border: 3px solid black;
    border-radius: 5px;
    color: yellow;
    background-color: purple;
    font-size: 16px;
    font-weight: bold;
}

.Btn:hover{
    background-color: yellow;color: purple;
}

h2{
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
    color: white;
}
#checkOutBtn{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.prodList {
    display: flex;
    align-items: flex-end;
}
.standardTable{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
    background-color: rgb(93, 81, 109);
    display: flex;
    justify-content: space-around;
   
}
.standardTable tr:hover{
    background-color: gray;
}
.standardTable th{
    font-weight: bold;
    color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: purple;
    text-align: left;
    width: 20em;

}

tr{
    color: white;
    border: 1px solid white;
}

.icon-button{
    margin-left: 15px;
    background-color: transparent;
    border: none;
}
.standardTable input {
    width: 20px; /* Adjust the width of the input fields as needed */
    text-align: center;
}
.inputNumber{
    margin-left: 20px;
}
footer{
    margin-top: 50px;
}
#checkers{
    display: flex;
    justify-content: center;
}
#checkers > a{
    margin: 15px;
}