.bold {
    font-weight: bold;
    color: red;
}

.tittles{
    font-family: Copperplate, Papyrus, fantasy;
}

body{
    background-color: rgb(33, 33, 82);
    color: azure;
}

.moodSection{
    text-align: center;
}
.smallTitle{
    color: chartreuse;
    margin-left: 0;
}
li > p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

#mood{
    background-color: rgb(25, 25, 54);
}

a{
    text-decoration: none;
    color: red;
}

a:hover{
    color: yellow;
}
a:focus{
    color: chartreuse;
}

h1::first-letter{
    font-size: 1.5em;
}

h3::first-letter{
    font-size: 1.5em;
}